@import 'tailwindcss';

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: var(--color-neutral-50);
  --vt-c-black: var(--color-neutral-950);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
